*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


.nav {
  width: 100%;
  overflow: auto;
  margin: 0;
}

.header {
  float: left;
  margin: 0;
}

.main {
  text-align: center;
}

.main-img {
  display: inline-block;
}

li {
  list-style: none;
  display: inline-block;
  float: right;
  margin: 10px;
}

.tiles {
  float: right;
  width: 45%;
}

.about {
  float: left;
  width: 45%;
}

.tiles img {
  float: left;
  width: 21%;
  height: auto;
  margin: 8px;
  border-radius: 10px;
}

img:nth-child(4n+1) {
  clear: both;
}

.pic:hover {
  opacity: 0.5;
}
